<?php
/**
 * SpreadsheetApi
 * PHP version 5
 *
 * @category Class
 * @package  Bytescout\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Bytescout\Client\Api;

use \Bytescout\Client\Configuration;
use \Bytescout\Client\ApiClient;
use \Bytescout\Client\ApiException;
use \Bytescout\Client\ObjectSerializer;

/**
 * SpreadsheetApi Class Doc Comment
 *
 * @category Class
 * @package  Bytescout\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SpreadsheetApi
{

    /**
     * API Client
     * @var \Bytescout\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Bytescout\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://bytescout.io');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Bytescout\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Bytescout\Client\ApiClient $apiClient set the API client
     * @return SpreadsheetApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * spreadsheetSpreadsheetGet
     *
     * Convert XLS, XLSX, ODS documents to CSV, HTML, TXT, XLS, XLSX, XML, PDF formats
     *
     * @param string $apikey User&#39;s ApiKey (optional)
     * @param string $propertiesUserName Username of Spreadsheet\r\n            Default value: \&quot;Bytescout\&quot; (optional)
     * @param string $propertiesConvertType Save Spreadsheet as (optional)
     * @param bool $propertiesCreateNavigationLinks Create Navigation Links (for ConvertType = HTML).\r\n            Default value: false (optional)
     * @param int $propertiesSheetIndex Index of Sheet in Spreadsheet (for ConvertType = CSV, TXT, XML, PDF).\r\n            Default: 0 (first sheet) (optional)
     * @param string $propertiesDelimiter Dilimiter of items.\r\n            Default value: , (optional)
     * @param string $propertiesQuoteSymbol Quote of items.\r\n            Default value \&quot; (optional)
     * @param bool $propertiesAutoSize Autosize of PDF file (for ConvertType = PDF).\r\n            Default value: true (optional)
     * @param string $propertiesPassword Password of Spreadsheet (for ConvertType = XLSX). (optional)
     * @param string $propertiesEncoding Encoding of XML file (for ConvertType = CSV, XML).\r\n            Default value: Unicode (optional)
     * @param string $outputType Type in which you want to get result of extracting (optional). Default value: Content. \r\n            IMPORTANT: \r\n            Link type generates public unique link to download, file is removed after default StorageTime(see File API). \r\n            LinkPrivate generates private unique link which should NOT be shared as it can be accessed with your api key only! (optional)
     * @param string $input Input Data (optional)
     * @param string $inputType Type of Input Data (optional)
     * @return string
     * @throws \Bytescout\Client\ApiException on non-2xx response
     */
    public function spreadsheetSpreadsheetGet($apikey = null, $propertiesUserName = null, $propertiesConvertType = null, $propertiesCreateNavigationLinks = null, $propertiesSheetIndex = null, $propertiesDelimiter = null, $propertiesQuoteSymbol = null, $propertiesAutoSize = null, $propertiesPassword = null, $propertiesEncoding = null, $outputType = null, $input = null, $inputType = null)
    {
        list($response, $statusCode, $httpHeader) = $this->spreadsheetSpreadsheetGetWithHttpInfo ($apikey, $propertiesUserName, $propertiesConvertType, $propertiesCreateNavigationLinks, $propertiesSheetIndex, $propertiesDelimiter, $propertiesQuoteSymbol, $propertiesAutoSize, $propertiesPassword, $propertiesEncoding, $outputType, $input, $inputType);
        return $response; 
    }


    /**
     * spreadsheetSpreadsheetGetWithHttpInfo
     *
     * Convert XLS, XLSX, ODS documents to CSV, HTML, TXT, XLS, XLSX, XML, PDF formats
     *
     * @param string $apikey User&#39;s ApiKey (optional)
     * @param string $propertiesUserName Username of Spreadsheet\r\n            Default value: \&quot;Bytescout\&quot; (optional)
     * @param string $propertiesConvertType Save Spreadsheet as (optional)
     * @param bool $propertiesCreateNavigationLinks Create Navigation Links (for ConvertType = HTML).\r\n            Default value: false (optional)
     * @param int $propertiesSheetIndex Index of Sheet in Spreadsheet (for ConvertType = CSV, TXT, XML, PDF).\r\n            Default: 0 (first sheet) (optional)
     * @param string $propertiesDelimiter Dilimiter of items.\r\n            Default value: , (optional)
     * @param string $propertiesQuoteSymbol Quote of items.\r\n            Default value \&quot; (optional)
     * @param bool $propertiesAutoSize Autosize of PDF file (for ConvertType = PDF).\r\n            Default value: true (optional)
     * @param string $propertiesPassword Password of Spreadsheet (for ConvertType = XLSX). (optional)
     * @param string $propertiesEncoding Encoding of XML file (for ConvertType = CSV, XML).\r\n            Default value: Unicode (optional)
     * @param string $outputType Type in which you want to get result of extracting (optional). Default value: Content. \r\n            IMPORTANT: \r\n            Link type generates public unique link to download, file is removed after default StorageTime(see File API). \r\n            LinkPrivate generates private unique link which should NOT be shared as it can be accessed with your api key only! (optional)
     * @param string $input Input Data (optional)
     * @param string $inputType Type of Input Data (optional)
     * @return Array of string, HTTP status code, HTTP response headers (array of strings)
     * @throws \Bytescout\Client\ApiException on non-2xx response
     */
    public function spreadsheetSpreadsheetGetWithHttpInfo($apikey = null, $propertiesUserName = null, $propertiesConvertType = null, $propertiesCreateNavigationLinks = null, $propertiesSheetIndex = null, $propertiesDelimiter = null, $propertiesQuoteSymbol = null, $propertiesAutoSize = null, $propertiesPassword = null, $propertiesEncoding = null, $outputType = null, $input = null, $inputType = null)
    {
        
  
        // parse inputs
        $resourcePath = "/api/v1/spreadsheet/convert";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }// query params
        
        if ($propertiesUserName !== null) {
            $queryParams['properties.userName'] = $this->apiClient->getSerializer()->toQueryValue($propertiesUserName);
        }// query params
        
        if ($propertiesConvertType !== null) {
            $queryParams['properties.convertType'] = $this->apiClient->getSerializer()->toQueryValue($propertiesConvertType);
        }// query params
        
        if ($propertiesCreateNavigationLinks !== null) {
            $queryParams['properties.createNavigationLinks'] = $this->apiClient->getSerializer()->toQueryValue($propertiesCreateNavigationLinks);
        }// query params
        
        if ($propertiesSheetIndex !== null) {
            $queryParams['properties.sheetIndex'] = $this->apiClient->getSerializer()->toQueryValue($propertiesSheetIndex);
        }// query params
        
        if ($propertiesDelimiter !== null) {
            $queryParams['properties.delimiter'] = $this->apiClient->getSerializer()->toQueryValue($propertiesDelimiter);
        }// query params
        
        if ($propertiesQuoteSymbol !== null) {
            $queryParams['properties.quoteSymbol'] = $this->apiClient->getSerializer()->toQueryValue($propertiesQuoteSymbol);
        }// query params
        
        if ($propertiesAutoSize !== null) {
            $queryParams['properties.autoSize'] = $this->apiClient->getSerializer()->toQueryValue($propertiesAutoSize);
        }// query params
        
        if ($propertiesPassword !== null) {
            $queryParams['properties.password'] = $this->apiClient->getSerializer()->toQueryValue($propertiesPassword);
        }// query params
        
        if ($propertiesEncoding !== null) {
            $queryParams['properties.encoding'] = $this->apiClient->getSerializer()->toQueryValue($propertiesEncoding);
        }// query params
        
        if ($outputType !== null) {
            $queryParams['outputType'] = $this->apiClient->getSerializer()->toQueryValue($outputType);
        }// query params
        
        if ($input !== null) {
            $queryParams['input'] = $this->apiClient->getSerializer()->toQueryValue($input);
        }// query params
        
        if ($inputType !== null) {
            $queryParams['inputType'] = $this->apiClient->getSerializer()->toQueryValue($inputType);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, 'string'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Bytescout\Client\ObjectSerializer::deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 400:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 401:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 403:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\ExceptionResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * spreadsheetSpreadsheetPost
     *
     * Convert XLS, XLSX, ODS documents to CSV, HTML, TXT, XLS, XLSX, XML, PDF formats
     *
     * @param \Bytescout\Client\Model\SpreadsheetRequestVm $data  (required)
     * @param string $apikey User&#39;s ApiKey (optional)
     * @return string
     * @throws \Bytescout\Client\ApiException on non-2xx response
     */
    public function spreadsheetSpreadsheetPost($data, $apikey = null)
    {
        list($response, $statusCode, $httpHeader) = $this->spreadsheetSpreadsheetPostWithHttpInfo ($data, $apikey);
        return $response; 
    }


    /**
     * spreadsheetSpreadsheetPostWithHttpInfo
     *
     * Convert XLS, XLSX, ODS documents to CSV, HTML, TXT, XLS, XLSX, XML, PDF formats
     *
     * @param \Bytescout\Client\Model\SpreadsheetRequestVm $data  (required)
     * @param string $apikey User&#39;s ApiKey (optional)
     * @return Array of string, HTTP status code, HTTP response headers (array of strings)
     * @throws \Bytescout\Client\ApiException on non-2xx response
     */
    public function spreadsheetSpreadsheetPostWithHttpInfo($data, $apikey = null)
    {
        
        // verify the required parameter 'data' is set
        if ($data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $data when calling spreadsheetSpreadsheetPost');
        }
  
        // parse inputs
        $resourcePath = "/api/v1/spreadsheet/convert";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','text/json','application/xml','text/xml'));
  
        // query params
        
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($data)) {
            $_tempBody = $data;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams, 'string'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Bytescout\Client\ObjectSerializer::deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 400:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 401:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 403:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\BadRequestModel', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = \Bytescout\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Bytescout\Client\Model\ExceptionResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
