@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF SDK Samples</title>
</head>
<body>
    <div style="text-align:center;">
        <div style="font-size: 20px; text-decoration: underline;">
            <br /> This page demostrates Byscout PDF SDK, by perfomring following PDF related operations.<br /> <br /><br />
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div>
                <button name="Operation" value="Html2PDFConversion" type="submit" style="width:360px;">1. Html to PDF conversion</button>
                <br />
                <br />
                <button name="Operation" value="TableCreation" type="submit" style="width:360px;">2. Table Creation</button>
                <br />
                <br />
                <button name="Operation" value="SplitPDF" type="submit" style="width:360px;">3. Splitting PDF</button>
                <br />
                <br />
                <button name="Operation" value="MergePDF" type="submit" style="width:360px;">4. Merging PDF</button>
                <br />
                <br />
                <button name="Operation" value="ProtectingPDF" type="submit" style="width:360px;">5. Protecting PDF (password=password1)</button>
            </div>
        }
    </div>
</body>
</html>
